*{
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;
	}

body{ 
    max-width:100%;
    min-height:100%;
    margin:auto;
    color:#FFFFFF;
    background:#808285;
    }

.name{
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
    width:15%;
    position: fixed;
    }

.wand-row{
    width:60%;
    margin-bottom:1%;
    margin-top:1%;
    margin-left:20%;
}

h2{
    font-family: 'Crimson Text', serif;
    text-align:center;
    font-size:2em;
    margin-bottom:1%;
    }

h3{
    font-family: 'Raleway', sans-serif;
    text-align:center;
    font-size:1em;
}

.odd{
    background-color:#A7A9AC;
    padding-top:1em;
    padding-bottom: 1em;
    }

.even{
    padding-top:1em;
    padding-bottom:1em;
    }

.social{
    font-family: 'Roboto', sans-serif;
	color:#ffffff;
	text-decoration:none;
    width:100%;
    margin-top:1em;
    padding-top:1em;
	}

footer{
    font-family: 'Roboto', sans-serif;
    font-size:.9em;
	color:#DCB041;
	padding-top:.5em;
	padding-bottom:1em;
	text-align:center;
	left:0;
	margin:0;
	width:100%;
	background:#414042;
	text-decoration:none;
		}

a:link{font-size:.9em;
		color:#DCB041;
		text-decoration:none;}

a:visited{color:#DCB041;}

/*-------------------*/


